**\bin
**\obj
.vs
.learningtransport
*.log
**\node_modules
**\wwwroot\lib\**
**\.dbmdl
**\.jfm
**\.log
**\lib
src/Dime.Scheduler.WebUI/Scripts/dist/**
src/Dime.Scheduler.WebUI/Scripts/Dime/Models/Columns/**/*.min.js
src/Dime.Scheduler.Web.AspNetCore/Scripts/**/*.min.js

src/**/*.log.*
**\.diagnostics
src/packages
